@import url("https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap");

body {
  height: 100dvh;
  background-color: #22223b;
}

h3 {
  font-size: 68px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  font-family: "Saira Stencil";
  color: white;
}

#game-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
  gap: 10px;
}

#game-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 400px;
  height: 400px;
  background-color: #22223b;
  gap: 10px;
}

.game-tile {
  border: 2px solid black;
  padding: 20px;
  background-color: #4a4e69;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 68px;
  font-family: "Saira Stencil";
  cursor: pointer;
}

.game-tile-X {
  color: #f26430 !important;
}

.game-tile-O {
  color: #06d6a0 !important;
}

#winner-text {
  font-size: 30px;
  font-family: "roboto";
  font-weight: 500;
  color: white;
  height: 30px;
}

button {
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 8px;
  width: 200px;
  font-family: "roboto";
  cursor: pointer;
  background-color: #4a4e69;
  color: white;
}

button:hover {
  background-color: #22223b;
}

#start-game-btn {
  font-weight: bold;
  font-size: 18px;
}

#player-input-container {
  display: flex;
  gap: 10px;
}

input {
  border-radius: 6px;
  outline: none;
  border: 0;
  padding: 4px;
  width: 120px;
  font-family: roboto;
}

#players-info-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.player-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 100px;
  border-radius: 8px;
  opacity: 0.4;
}

.score-text {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.players {
  font-size: 18px;
}

.players,
.score-text {
  color: black;
  font-family: roboto;
}

#player-info1 {
  background-color: #f26430;
}

#player-info2 {
  background-color: #06d6a0;
}

.active-turn {
  border: 4px white solid;
  opacity: 1;
}
